@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@tailwind utilities;
/* 
body {
  font-family: 'Montserrat', sans-serif;
} */

ol,
ul {
  list-style: none;
}

li {
  /* display: inline-block; */
  /* padding: 20px 0 20px; */
}

.navElement {
  text-decoration: none;
  position: relative;
  display: block;
  /* padding: 16px 0; */
  margin: 0 12px;
  /* font-size: 1.2rem; */
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
  color: #000;
}

.navElement:hover {
  color: red;
}
.navElement:focus,
.navElement:active {
  color: red;
}

.navElement::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: red;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.navElement:active::before {
  background-color: red;
}

.navElement:hover::before,
.navElement:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/** clickable element **/
.clickElement {
  text-decoration: none;
  position: relative;
  /* display: block; */
  /* padding: 16px 0; */
  /* margin: 0 12px; */
  /* font-size: 1.2rem; */
  /* text-transform: uppercase; */
  transition: color 0.1s, background-color 0.1s;
  /* color: #000; */
  cursor: pointer;
}

.clickElement:hover {
  color: red;
}
.clickElement:focus,
.clickElement:active {
  color: red;
}

.clickElement::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: red;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.clickElement:active::before {
  background-color: red;
}

.clickElement:hover::before,
.clickElement:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.postsContainer {
  margin-left: 30px;
}
